* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Hero Section */

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 25px 15% 15% 15%;
    gap: 150px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9F1F8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

li,
.hero-p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-center {
    display: flex;
    gap: 70px;
    height: auto;
}

.img-space {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    background-image: url("./assets/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cta-space {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.hero-h {
    font-size: 48px;
    font-weight: 900;
    color: #F9F1F8;
}

.hero-b {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 9px;
    width: 120px;
}

/* Info Section */

.info-section {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 100px 15%;
    gap: 50px;
}

.info-h {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-down {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
}

.info-square {
    border: 5px solid blue;
    width: auto;
    height: 200px;
}

.info-card>p {
    text-align: center;
    color: #707171;
    font-size: 18px;
}

/* Quotes Section */

.quote-section {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 25%;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.quote-author>p {
    font-size: 26px;
    font-weight: bold;
}

/* CTA Section */

.cta-section {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 100px 15%;
}

.cta-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    height: auto;
    padding: 50px 100px;
    border-radius: 9px;
    gap: 45px;
}

.cta-cont>div>h3 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.cta-cont>div>p {
    color: #E5E7EB;
    font-size: 18px;
}

.cta-cont>div>button {
    background-color: #3882F6;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 9px;
    padding: 8px 45px;
}

/* Footer */

.footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding: 50px 15%;
}

.footer > p {
    color: white;
    font-size: 18px;
}